---
layout: layout.njk
title: Emvy Studio
---
    <nav>
      <a href="#top">
        <div class="nav-item" id="home-top">
          [TOP]
        </div>
      </a>
    </nav>
          <div class="panel">
        {% include "header.njk" %}
        {% include "footer.njk" %}
          </div>
    <wrapper>
            {% include "gallery.njk" %}            
    </wrapper>




