---
layout: templates/layout.njk
title: Emvy Studio
---
    <nav class="site-nav">
                   <a href="#top">
             TOP
        </a>
        
    </nav>
    
    <div class="panel">
      <div class="header">       
          <div class="customlink">
            <a href="/about/index.html">
              ABOUT
            </a>
          </div>  
          
        {% include "header.njk" %}
        {% include "contact.njk" %}
    </div>
        {% include "footer.njk" %}

    </div>
            {% include "feed.njk" %}            





