<a href="---">
      <div class="piece" data-images="portfolio/print/gallery/emvystudio1.jpeg, portfolio/print/gallery/emvystudio2.jpeg, portfolio/graphicdesign/gallery/emvystudio3.jpeg, portfolio/graphicdesign/gallery/emvystudio4.jpeg, portfolio/graphicdesign/gallery/locksmith1.png, portfolio/graphicdesign/gallery/teambook1.png, portfolio/graphicdesign/gallery/untitled1.png, portfolio/graphicdesign/gallery/bpg1.png,">
        <div class="p-head">
          <h3>{{ tags }}</h3>
            <h2>{{ category }}</h2>
          <div class="p-tag">{{ roles }}</div>
        </div>
      </div>
      </a>