---
layout: layout.njk
title: "Game Dev Subpage"
permalink: "gamedev/overview/index.html"
---

<!doctype html>
<html lang="en">

{% include "head.njk" %}
   
    <body> 
       {{ content | safe }}
       
    </body>
    
    {% include "scripts.njk" %}  
</html>
