<div class="bio game">
  Matthew Velez graduated from his Bachelor of Fine Arts, Design at YSDN in Toronto in 2016.
  Since then, he's been developing art and creative work across various arenas.
  </br></br>
  His iconoclastic taste along with his tenacity for problem-solving found
  a fit in strategy and design. His personal work has explored society, technology, belonging, identity and incorporates his hobbies and lifestyle.
  </br></br>
  In 2019, he founded <a href="https://untitleddesign.studio"><b>Untitled Design Studio</b></a>
  with his partner, offering strategy and design services to the globe.
  </br></br>
  Today he lives in Montréal, where he has found himself gravitating to community and social good enterprises, 
  offering design, illustration and planning to local communities. In his free time, he explores creative 
  writing, music production, apparel & graphic design, UI, 3D art, 2D art and game design.
</div>
