<div class="gallery" id="gallery">
      <a href="#gallery"><div class="nav-item">[PORTFOLIO]</div></a>
        <section class="categories">
          <ul>
            {% for category, items in collections.categories %}
              <li>
                <h2>{{ category }}</h2>
                <ul>
                  {% for item in items %}
                    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </section>
    </div>
</div>