
          <div class="customlink email">
             <a href=mailto:matthew@emvystudio.com>
              [MATTHEW@EMVYSTUDIO.COM]
            </a>
          </div>

          <div class="customlink phone">
            <a href=tel:+14389519579>
              [+1-438-951-9579]
            </a>
          </div>

        <!--    
          <div class="customlink discord">
            <a href="https://discord.gg/GqkAZ5kHyt" target="_blank">
              [DISCORD]
            </a>
          </div> -->
