<div class="linkgrid">
             <div class="customlink email">
               <a href=mailto:matthew@emvystudio.com>
              [MATTHEW@EMVYSTUDIO.COM]
              </a>
            </div>
            
            <div class="customlink phone">
              <a href=tel:6474590678>
                [+1-438-951-9579]
              </a>
            </div>
            
            <div class="customlink soundcloud">
              <a href="https://soundcloud.com/vrikv">
              [SOUNDCLOUD]
              </a>
            </div>
            
            <div class="customlink substack">
              <a href="https://substack.com/prismism">
              [SUBSTACK]
              </a>
            </div>

            <div class="customlink discord">
              <a href="https://discord.gg/GqkAZ5kHyt" target="_blank">
              [DISCORD]
              </a>
            </div>

            <div class="customlink arena">
              <a href="https://www.are.na/m-v-hwil7rdgugm/emvy-studio">
              [ARE.NA]
              </a>
            </div>

            <div class="customlink itch">
              <a href="https://cyboi.itch.io">
              [ITCH.IO]
              </a>
            </div>
</div>