    <div class="gallery" id="gallery">
    <section>
      <a href="#gallery"><div class="nav-item">[GALLERY]</div></a>
      <a href="/portfolio/graphicdesign.html">
      <div class="piece" data-images="portfolio/print/gallery/emvystudio1.jpeg, portfolio/print/gallery/emvystudio2.jpeg, portfolio/graphicdesign/gallery/emvystudio3.jpeg, portfolio/graphicdesign/gallery/emvystudio4.jpeg, portfolio/graphicdesign/gallery/locksmith1.png, portfolio/graphicdesign/gallery/teambook1.png, portfolio/graphicdesign/gallery/untitled1.png, portfolio/graphicdesign/gallery/bpg1.png,">
        <div class="p-head">
          <h3>Apparel, Lifestyle, Print, Brand, Graphic & Web Design</h3>
          <h2>Emvy Studio</h2>
          <div class="p-tag tag-color-yellow">Founder</div>
          <div class="p-tag tag-color-purple">Designer</div>
        </div>
      </div>
      </a>
      
      <a href="/portfolio/graphicdesign">
        <div class="piece" data-images="content/images/cd_case.jpg, content/images/nastygyal-artwork.png, content/images/burialground.png">
          <div class="p-head">
            <h3>Digital Design, Strategy & Copywriting Services</h3>
            <h2>Untitled Design Studio</h2>
            <div class="p-tag tag-color-yellow">Co-Founder</div>
            <div class="p-tag tag-color-purple">Designer</div>
            <div class="p-tag tag-color-blue">Strategist</div>
            <div class="p-tag tag-color-cyan">Copywriter</div>
          </div>
        </div>
      </a>
      
    <a href="/portfolio/gamedev">
    <div class="piece" data-images="content/images/cd_case.jpg, content/images/nastygyal-artwork.png, content/images/burialground.png">
      <div class="p-head">
        <h3>Game, Narrative & UI Design, Programming & Art</h3>
        <h2>Game Development</h2>
        <div class="p-tag tag-color-yellow">Creator</div>
        <div class="p-tag tag-color-purple">Designer</div>
        <div class="p-tag tag-color-red">Artist</div>
        <div class="p-tag tag-color-cyan">Writer</div>
      </div>
    </div>
    </a>

    <a href="https://halcyonet.bandcamp.com">
    <div class="piece" data-images="/portfolio/music/gallery/cd_case.jpg, /portfolio/music/gallery/nastygyal-artwork.png, /portfolio/music/gallery/burialground.png">
      <div class="p-head">
        <h3>Music Production, Art & Illustration</h3>
        <h2>HALCYONET</h2>
        <div class="p-tag tag-color-yellow">Creator</div>
        <div class="p-tag tag-color-red">Artist</div>
        <div class="p-tag tag-color-purple">Designer</div>
      </div>
    </div>
    </a>
</section>
</div>