<head>
<!-- Google tag (gtag.js) 
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZVYJQHXFL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0ZVYJQHXFL');
</script>
  <meta charset="utf-8">
  <meta
          http-equiv="Content-Security-Policy"
          content="default-src 'self'; img-src https://*; child-src 'none';" />
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="https://emvystudio.com/content/images/R0003361.jpeg"/>
  <link rel="stylesheet" href="assets/css/styles.css?v=1.0">
  <link rel="stylesheet" href="assets/css/texthover.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- 
  <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet"> 
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗡</text></svg>">
  -->
  <title>EMVY STUDIO</title>
</head>
