        <h1>MATTHEW VELEZ</h1>
        <span>
        <div class="p-tag tag-color-red">Artist</div>
        <div class="p-tag tag-color-purple">Designer</div>
        <div class="p-tag tag-color-cyan">Writer</div>
        <div class="p-tag tag-color-green">Strategist</div>
        </span>