      <div class="header">
        <div class="customlink">
          <a href="/about/index.html">
            [ABOUT]
          </a>
        </div>
        
<!--        
        <div class="customlink">
          <a href="/portfolio">
            [PORTFOLIO]
          </a>
        </div>
-->
        <h1>MATTHEW VELEZ</h1>
        <div class="p-tag tag-color-red">Artist</div>
        <div class="p-tag tag-color-purple">Designer</div>
        <div class="p-tag tag-color-cyan">Writer</div>
        <div class="p-tag tag-color-green">Strategist</div>


          <div class="customlink linksmall email">
             <a href=mailto:matthew@emvystudio.com>
              [MATTHEW@EMVYSTUDIO.COM]
            </a>
          </div>

          <div class="customlink linksmall phone">
            <a href=tel:+14389519579>
              [+1-438-951-9579]
            </a>
          </div>

        <!--    
          <div class="customlink linksmall discord">
            <a href="https://discord.gg/GqkAZ5kHyt" target="_blank">
              [DISCORD]
            </a>
          </div> -->
      </div>
