<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body>
    <nav>
    </nav>
    <div class="panel">
    </div>
    
    <wrapper> 
       
    </wrapper>        
     
    {% include "scripts.njk" %}  
</body>
</html>
