---
title: "B.U.M.B.U.M."
category: "Community Projects"
layout: "templates/project.njk"
date: 2024-11
tags:
- community
- print
- client
- poster
skills:
- graphic design
- illustration
roles:
    - designer
heroImage: ""
---
<!-- game -->
