---
title: "CGC"
category: "Client Work"
layout: "templates/project.njk"
date: 2021-01
tags:
    - brand
    - client
skills:
- copywriting
- strategy
roles:
    - writer
    - strategist
---
<!-- game -->

