---
title: "Craft Property Group"
category: "Client Work"
layout: "templates/project.njk"
date: 2021-01
skills:
    - webflow
    - strategy
    - copywriting
    - web design
tags:
    - branding
    - web development
    - client
roles:
    - designer
    - copywriter
    - strategist
---
<!-- game -->

