---
title: "HCN:001 - Burial Ground"
category: "Music & Art"
layout: "templates/project.njk"
date: 2025-10
tags:
    - music
    - art
skills:
    - music production
    - illustration
    - design
roles:
    - artist
---
<!-- game -->

