---
title: "itti"
category: "User Interface & Experience"
layout: "templates/project.njk"
date: 2019-01
tags:
    - app
    - concept
    - prototype
skills:
    - illustrator
    - figma
    - graphic design
    - UI
roles:
    - designer
---
<!-- game -->

