---
title: "Revue Cinema"
category: "Client Work"
layout: "templates/project.njk"
date: 2016-09
tags:
    - poster
    - client
    - print
skills:
    - graphic design
    - illustration
roles:
    - artist
    - designer
---
<!-- game -->

roles: ["Designer"]
