---
title: "Scopic"
category: "User Interface & Experience"
layout: "templates/project.njk"
date: 2015-03
tags:
    - Concept
    - app
skills:
    - Adobe XD
    -  Illustrator
    -  Photoshop
    - UI
    - Graphic Design
Roles:
    - designer
---
<!-- game -->

