---
title: "Sproots"
skills: ["game design, 2d art, music, unity, fmod, "]
tags: ["Game-dev, game-jam, "]
category: "Game Development"
roles: ["Game Designer, 2D Artist, Composer"]
layout: "templates/project.njk"
---
<!-- game -->
<div class="piece" id="sproots">
          <div class="p-head">
            <div class="p-title">SPROOTS</div>
            <div class="p-tag tag-color-purple">Game Design</div>
            <div class="p-tag tag-color-cyan">Game Jam Entry</div>
            <div class="p-tag tag-color-red">Unity Engine</div>
            <div class="p-tag tag-color-magenta">TEAM SIZE:</div>
            <div class="p-tag tag-color-magenta">2</div>


          </div>
          <div class="top-fold">
            <div class="p-description">

              <h2>PROJECT BRIEF</h2>
              <p>This was a Unity Global Game Jam entry. The theme of the jam was: Roots.</p>
              
              <h2>CONCEPT & THEME</h2>
              <p>A game about making roots! Like Pile Up!, game jam games are best when they're quick & compulsive.</p>

              <h2>ROLES</h2>
              <ul>
                <li>Game Designer</li>
                <li>Art</li>
                <li>Music</li>

              </ul>
              <div>
                <h2>Design Goals</h2>
                <ul>
                  <li>Easy to Replay</li>
                  <li>Easy to Understand</li>
                  <li>Micro-SCOPE-ic (theme emerges!)</li>
                </ul>
                </div>
            </div>
              <div class="hero desktop">
                
              <a href="https://cyboi.itch.io/sproots" target="_blank"> <img src="/content/images/portfolio/sproots/sproots-banner.png"></a>
                <h3>**NOTES**</h3>
                This was my first game in a game engine! <br>
                The system we used to generate droplets is unoptimized and means the game loads very slowly. Please be patient!<br>
                Watch your ears! The music is a bit loud 🥶<br>
              </div>
                
          </div>
          <div class=bot-fold>            
            <div>
              <h2>Challenges</h2>
              <ul>
                <li>What's the best system to achieve the desired feel?</li>
                <li>What's the desired feel? Chill, anxious?</li>
                <li>Balancing your goals vs your teammate vs the various constraints in game dev</li>
              </ul>    
            </div>          

            <div>
              <h2>Outcomes</h2>
              <ul>
                <li>The systems we settled on lead to must-lose situations & pointless clicking</li>
                <li>We managed to finish the game, but were unable to optimize art, music and systems</li>
                <li>The camera was disorienting for some people</li>
              </ul> 
            </div>

            <div>
              <h2>LEARNINGS</h2>
              <ul>
                <li>Prototype quick to find problems early!</li>
                <li>Don't sit on your hands. Keep talking and making, even if it's not your strong suit - it has to get done!</li>
                <li>What feels right to you may not feel right to your players. (PLAYTEST MORE!)</li>
              </ul> 
            </div>

          </div>
        </div>