---
title: "Teambooks"
skills: ["graphic design, layout, editorial, print, branding"]
category: "Graphic Design"
roles: ["Designer, "]
tags: ["client work, "]
layout: "templates/project.njk"
---
<!-- game -->

