---
title: "Teambooks"
category: "Client Work"
layout: "templates/project.njk"
date: 2024-11
tags:
    - branding
    - print
    - product
    - client
skills:
    -  Illustrator
    -  Photoshop
    -  InDesign
    - figma
    - graphic design
    - layout
    - editorial
roles:
    - designer
---
<!-- game -->

