---
title: "Halo Infinite UI Redesign"
category: "User Interface & Experience"
layout: "templates/project.njk"
date: 2024-03
tags:
    - game-dev
    - ui
    - ux
    - concept
    - prototype
skills:
    - UI design
    - UX design
    - graphic design
    - interaction
    - Adobe XD
    - Illustrator
    - Photoshop
roles:
    - designer  
---
<!-- game -->

