---
title: "Halo Infinite UI Redesign"
skills: ["UI Design, graphic design, Interaction Design, Adobe XD, Adobe Illustrator, Adobe Photoshop"]
category: "User Interface & Experience"
roles: ["Designer"]
tags: ["game-dev, concept, "]
layout: "templates/project.njk"
---
<!-- game -->

