---
title: "Receiver"
category: "User Interface & Experience"
layout: "templates/project.njk"
date: 2024-07
skills:
    - illustrator
    - photoshop
    - figma
    - graphic design
    - interaction
tags:
    - UI
    - game-dev
    - concept
roles:
    - designer
---
<!-- game -->

