---
title: "Receiver"
skills: "UI Design, Graphic Design, Interaction Design, figma"
tags:  ["UI, game-dev, concept, "]
category: "User Interface & Experience"
roles: ["Designer, "]
layout: "templates/project.njk"
---
<!-- game -->

