---
title: "Xbox UI Redesign"
category: "User Interface & Experience"
layout: "templates/project.njk"
date: 2024-09
skills:
    - figma
    - illustrator
    - photoshop
    - graphic design
    - interaction
tags:
    - game-dev
    - concept
    - ui
roles:
    - designer
---
<!-- game -->

