---
title: "Xbox UI Redesign"
category: "User Interface & Experience"
skills: ["UI design, graphic design, interaction design, figma"]
tags: ["game-dev, concept, "]
roles: ["UI Designer, Graphic Designer,"]
layout: "templates/project.njk"
---
<!-- game -->

