---
title: "Verisimilis"
category: "Game Development"
layout: "templates/project.njk"
date: 2024-10
roles:
    - developer
    - designer
    - writer
tags:
    - game
    - game-dev
    - prototype
    - concept
    - creative writing
skills:
    - game design
    - narrative design
    - writing
    - inky
---
<!-- game -->

