---
title: "Verisimilis"
category: "Game Development"
skills: ["game design, narrative design, inky"]
roles: ["developer, designer, writer, "]
tags: ["game-dev, prototype, "]
layout: "templates/project.njk"
---
<!-- game -->

