---
layout: layout.njk
title: About
---

    <nav>
      <a href="/index.html">
        <div class="nav-item" id="home">
          [HOME]
        </div>
      </a>
      <a href="#top">
        <div class="nav-item" id="top">
          [TOP]
        </div>
      </a>
    </nav>
    
    <div class="panel">
        {% include "contact-ext.njk" %}
        {% include "bio.njk" %}
        {% include "footer.njk" %}
    </div>

