---
layout: templates/layout.njk
title: About
---

    <nav>
      <a href="/index.html">
        <div class="nav-item" id="home">
          [HOME]
        </div>
      </a>
      <a href="#top">
        <div class="nav-item" id="top">
          [TOP]
        </div>
      </a>
    </nav>
    
    <div class="panel pos-relative">
       <div class="header">       
            {% include "header.njk" %}
            {% include "contact.njk" %}
            {% include "bio.njk" %}
        </div>
        
        {% include "footer.njk" %}
    </div>
