

html {
  overflow-x:hidden;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color:inherit;
}

body{
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
  padding: 1vmin; 
  margin: 0;
  cursor:crosshair;
  background-color: var(--background-color);
}

:root {
  --background-color: white;
} 

p {
  font-size: 1.25em;
  padding-bottom: 2em;
  margin: 0;
}

ul{
  font-size: 1.5em;
  line-height: 1.55em;
  margin: 0;
  /*padding-bottom: 1em;*/
  /*padding-left: 1.5rem;*/
    list-style-type: none;
}

h1  {
  font-style: normal;
  font-variant: inherit;
  font-size: 6.5em;
  font-kerning: auto;
  line-height: 1em;
  /*margin: auto;*/
  text-transform: uppercase;
}

h2  {
  display: flex;
  font-size: clamp(2rem, -0.875rem + 81.333vw, 5rem);
  font-weight: bold;
    line-height: 4rem;
  margin: 10px 0px;
  color: rgba(10, 10, 10, 1);
}

h3  {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(10, 10, 10, 1);
}


h1:hover  {
  color: green;
  opacity: .5;
  transition: 1s;
  cursor: crosshair;
  -webkit-animation: colorchange 6s infinite alternate;
  animation: colorchange 6s infinite alternate;
}

h1:not(:hover) {
  opacity: 1;
  transition: 1s;
}


@-webkit-keyframes colorchange {
  0% {
    color: inherit;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

@keyframes colorchange {
  0% {
    color: inherit;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}


h6  {
  font-size: 2em;
  line-height: .1em;

}

/* CUSTOM UNIVERSAL ELEMENTS */

section   {
  columns: 30%;
  padding: 1em 0;
}

iframe  {
  flex-wrap: wrap;
}

/*custom ids*/

.bracket-adjust  {
  margin: -10px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  margin: auto;
}


/*SITE ELEMENTS*/

  /*SITE NAV*/

  .site-nav
    {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position:fixed;
      width: 100%;
      z-index: 5;
      top: 0;
      /*margin: 0em 1em 0em 1em;*/
    }

  .nav-item
    {
      font-weight: bold;
      margin: 1rem 0;
      position: fixed;
      z-index: 5;
      top: 0;
    }

    #home
    {
  left: 0;
    }

    #top 
    {
      right:0;
    }

  #portfolio
  {
    right: 0;
  }

a.portfolio:hover .body {
    transition: 1s;
    -webkit-animation: bodycolor 1s infinite alternate;
    animation: bodycolor 1s infinite alternate;
  }
  
.categories {
    margin: 1vmax;
}

@-webkit-keyframes bodycolor {
  0% {
    color: inherit;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

@keyframes bodycolor {
  0% {
    color: inherit;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

.panel {
  display: flex;
  flex: 4 0 auto;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 10vmin;
  top: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
}

.header
  {
  margin: auto 0;
  /*padding: 44px 0px;*/
  display: flex;
  flex-direction: column;
  /*flex-grow: 3;*/
  justify-content: center;
    gap: .25rem;
    width: 65%;
}

footer  {
  text-align: left;
  color: rgba(177,177,177,1);
  z-index:4;
  /*padding: 5% 0;*/
  margin: 0 0;
  bottom: 0;
  /*display: flex;*/
  /*flex-grow: 1;*/
}

.bio  {
  width: 34vw;
  margin: 5em 0 5em 0;
}

.game {
  margin: 2em 0 5em 0;
}

.gallery
  {
    position: relative;
    /*max-width: 100vw;*/
    /*min-width: 60vw;*/
    /*!*max-height: auto;*!*/
    /*display: flex;*/
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 90vh;
    margin-left: calc(100vw/5*2);
    padding: 2vh 0;
    align-content: center;
    backdrop-filter:  blur(8px);
    -webkit-backdrop-filter:  blur(8px);
  }

.piece  {
  padding: 5vmin 0;
  max-width: 100vw;
  background: none;
  background-size: cover;
  background-position: center;
  background-image: none;
}

.piece:hover {
  transition: background-image .0s;
 
}

.piece:hover h2, .piece:hover h3 {
  transition: .0s;
  -webkit-transition: .0s;
  color: #0000ffff;
}

.stub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh;
  padding: 0 0 0 0;
}

.box{
  padding: 1rem;
}

.highlight
{
  border-radius:15px;
  border: solid grey;
  margin: 1rem;
}

.p-head  {
  margin: 10px;
  flex:auto;
}

.p-title  {
    display: flex;
    font-size: 5em;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
    margin: 10px 0px;
  }

.p-item
  {
    display: inline-block;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 33px;
    position: relative;
  }

.p-item img
{
  border-radius: 3px;

}

  .noblur  
  {
    box-shadow: none;
  }

.fullwidth {
  height: 90vh;
  }

.video-embed
{
  width:100%;
  height:100%;
  position:relative;
  margin: auto;
}

embed  {
  display: flex;
  width: 100%;
  height: 50vh;
}

 iframe {
  display: flex;
  width: 100%;
  height: 50vh;
  border: none;
}
 

.pos-relative {
  position: relative;
}


.p-tag  {
      display: inline-flex;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: normal;
   /*   text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; */
      border-radius: 30px;
      padding: 1rem;
      margin: .25rem 0;
      color: rgb(255, 255, 255);
  background-color: rgb(187, 187, 187);
}

.tag-color-red {
  background-color: rgb(176, 7, 7);
}

.tag-color-green {
  background-color: rgb(113, 185, 113);
}

.tag-color-blue {
  background-color: rgb(53, 53, 140);
}

.tag-color-cyan {
  background-color: rgb(57, 147, 147);
}

.tag-color-magenta {
  background-color: rgb(131, 63, 131);
}

.tag-color-yellow {
  background-color: rgb(182, 182, 77);
}

.tag-color-purple {
  background-color: rgba(155,0,155,1);
}

.tag-color-orange {
  background-color: rgb(208, 84, 16);
}

img {
  width: 100%;
  height: auto;
}

.portfolio-list img {
  border-radius: 15px;
}


.left {
  margin: -15% 0 0 3%;
}

.small  {
  margin: -25% -10% 0 -3%;
  text-align: right;
}

.right {
  margin: -15% 2vw 0 26vw;
}

.top {
  z-index: 999;
}

.bottom {
  z-index: -999;
}

/* anchor tag edits */

.linkgrid {
  width: 50%;
}

.customlink {
  /*display: inline-grid;*/
}


.customlink a
  {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-decoration: none
  }

.linksmall {
  font-size: .5em;
}

.customlink a:visited {
  text-align: center;
}

.customlink a:hover{
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
    cursor: pointer;
}

.customlink a:not(:hover) {
  -webkit-transition: .5s;
  transition: .5s;
}

.phone a:hover{
  color: rgba(22,155,66,1);
}

.discord a:hover{
  color: rgba(126,13,173,1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}

.arena a:hover{
  color: rgba(10,10,155,1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}

.itch a:hover{
  color: rgba(204, 18, 68, 1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}
.email a:hover{
  color: rgba(255,13,73,1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}

.substack a:hover{
  color: rgba(245,40,145,1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}
.soundcloud a:hover{
  color: rgb(245, 139, 40);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}
section a:hover{
  color: rgba(155,255,255,1);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: -30px .5s;
  transform: -30px .5s;
  cursor: pointer;
}



/* tooltips */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* PORTFOLIO ELEMENTS */

  .game-portfolio
  {
    position: relative;
    max-width: auto;
    max-height: auto;
    z-index: 4;
    padding: 0;
    top:95vh;
    align-content: center;
    backdrop-filter:  blur(8px);
    -webkit-backdrop-filter:  blur(8px);
    background-color: rgba(255, 255, 255, 1);
  }
  
  .p-description
  {
    flex-direction: column;
    align-content:center;
    max-width: 60vw;
  }

  .top-fold
  {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1vh 1vw;
    justify-content: space-between;
  }

  .bot-fold
  {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 3vh 1vw;
    justify-content: space-between;
    transition: max-height 0.2s ease-out;
  }
.bot-fold>* {
  flex: 1 1 20vw;
  max-width: 50vw;
}

.collapsible {
  color: #BBBBBB;
  background-color: rgba(0,0,0,0);
  padding: 18px;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  text-transform: uppercase;
  font-style: italic;
}

.active, .collapsible:hover {
  color: #888888;
}

.button  {
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  .column_container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 2rem;
  }

/* PORTFOLIO NAVIGATION */

.nav-wrapper
  {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    gap: 2em;
    padding: 10vh 3vw 10vh 5vw;
    background-color: white;
    z-index: 5;
    /*height: 100vh;*/
  }

#projects-nav
  {
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 1rem 5rem;
    background-color: white;
  }

.p-nav
  { 
    z-index: 6;
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 3em;
  }

  .hero{
  display: flex;
  min-width: 40vw;
  }
  .desktop{
  flex-direction: column;
}
  .mobile{
    display: none;
  }

.row
  {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

.card-container
  {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    border-radius: 15px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid grey;
    width: 300px;
    height: 150px;
  } 

.item-image
  {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-position: center;
  }

.item-title
  {
    position: absolute;
    z-index: 1;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px;   
  }

.overlay
  {
    position: absolute;
    opacity: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: .5s ease;
  }

 

.card-container:hover .overlay
  {
    opacity: 0.5;
  }

/* CATEGORY STYLING */

.category-tile {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.6s ease;
}

/* FEED STYLING */
    .feed{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .feed-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .feed-modes {
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: flex-start;*/
        /*gap: 1em;*/
    }
    .feed-tags  {
    }

    .feed-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .feed-item  {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 0.6s ease;
        margin: 3vmin 0;
    }
    
    .feed-sort  {
        
    }
    
/* SKILLs STYLING */
.skills {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.skill, .role {
    display: inline-flex;
    text-align: center;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: normal;
    /*   text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; */
    border-radius: 30px;
    padding: .25rem .75rem;
    margin: .25rem 0;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 187, 187);
}
    
/* ROLES STYLING */
/*.roles {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    gap: 0.5rem;*/
/*    margin: 0.5rem;*/
/*    padding: 0;*/
/*}*/

/*.role {*/
/*    font-size: 0.75rem;*/
/*    padding: 0.25rem 0.5rem;*/
/*    border-radius: 999px;*/
/*    background: #ECEFF1; !* light gray *!*/
/*    color: #37474F;*/
/*    white-space: nowrap;*/
/*}*/

/* PORTFOLIO ITEMS */

.pileup
{
  background-image: url("https://img.itch.zone/aW1nLzEyMDQ2NTI3LnBuZw==/315x250%23c/Eh%2FVNg.png");
}

.pileup-container
{
  display: inline-block;
  width: auto;
}

.cemetery
{
  background-image: url("/content/images/portfolio/cemetery/cemetery-Thumbnail.png");
}

.sproots
{
  background-image: url("/content/images/portfolio/sproots/sproots-banner.png");
}

.ogre
{
  background-image: url("/content/images/portfolio/ogre/ogre-thumbnail.png");
}

.pillars
{
  background-image: url("/content/images/portfolio/pillars/pillars-thumbnail.png");
}

.xbox-ui
{
  background-image: url("/content/images/portfolio/xboxui/xbox-ui-thumb.png");

}
.himenu
{
  background-image: url("/content/images/portfolio/haloui/halo-ui-thumb.png");

}
.receiverui
{
  background-image: url("/content/images/portfolio/receiverui/receiver-ui-thumb.png");

}

.scopic
{
  background-image: url("/content/images/portfolio/scopic.png");

}

.verisimilis
  {
  background-image: url("/content/images/verisimilis.png");
  width: 35vw;

}
  /* PORTFOLIO NAVIGATION */

.portfolio-list
  {
    position: relative;
    z-index: 7;
    background-color: white;
    padding: 1em 0 1em;
  }

  /* PORTFOLIO ELEMENTS */

.item-description {
  max-width: 30vw;
}


/* MEDIA QUERY */
/* MIN WIDTH */

@media (min-width:1600px) {
    h1  {
        font-size: 8.5em;
    }
}

/* MAX-WIDTH */


@media (max-width:1080px)
{
    .game {
        margin: 0;
    }
    .bio{
        width: auto;
    }
}


@media (max-width:640px){
    .customlink{
        font-size: 1em;}
    iframe{
        width:100vw;
        height:auto;
    }
}


@media (max-width:1100px) {
    h1  {
        font-size: 6em;
    }
}


@media (max-width:1080px)
{
    .grid
    {
        flex-direction:column;
    }
}

@media (max-width:640px) {
   
    h1  {
        font-size: 5em;
    }
    
    h2 {
        font-size: 4em;
        line-height: 3rem;
    }
    
    h3 {
        font-size: 2em;
    }
    
    iframe  {
        width: 100vw;
        height: 100vh;
    }
    
    .customlink a {
        font-size: 1em;
        color: black;
        font-weight: bold;
        text-decoration: none
    }

    .gallery
    {
        position: relative;
        max-width: auto;
        max-height: auto;
        z-index: 4;
        margin: 100vh 0 0 0;
        align-content: center;
    }
    
    .panel  {
        padding: 1vw;
    }
    .header {
        min-width: 100vw;
    }

    .hero{
        order: -1;
    }

    .mobile{
        display: inline;
    }

    .p-title  {
        font-size: 3em;
    }

    .p-nav{
        flex-direction: column;
    }

    .top-fold{
        flex-direction: column;
    }

    .column_container{
        flex-direction: column;
    }

    #projects-nav{
        justify-content: center;
        text-align: center;
    }

    .row{
        flex-direction: column;
    }
    .card-container{
        width: 60%;
        height: 50px;
    }

    .footer{
        position: relative;
    }
}

